<div class="bg-image">
  <img src="assets/ctabuildings.jpeg" class="img-fluid" alt="Sample" />
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="col-md-4">
        <div class="card text-center">
          <div class="card-header">Software Developer</div>
          <div class="card-body">
            <h5 class="card-title">Juan Daniel Sanchez</h5>
            <p class="card-text">
              I would be a great fit for any team, whether Front-End,
              Back-End,App-Dev, DevOps or any mix in-between
            </p>
            <a href="tel:720-666-3094" class="btn btn-primary">Call Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
