  <div class="row pb-3">
    <div class="col-md-4 pt-3">
      <div class="card text-white bg-primary">
        <h5 class="card-header">Languages</h5>
        <div class="card-body">
          <h5 class="card-title">
            Javascript, Python, Java, CQL(Cypher Query Language), C++ (studying
            Typescript),
          </h5>
          <p class="card-text">
            I have a strong understanding of the fundamentals of software
            development
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 pt-3">
      <div class="card text-white bg-primary">
        <h5 class="card-header">Frameworks</h5>
        <div class="card-body">
          <h5 class="card-title">
            React(Gatbsy &amp; Next.js), (studying Angular)
          </h5>
          <p class="card-text">
            Regardless of the frameworks involved, I am willing and capable of
            moving towards anything with fierce quickness.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 pt-3">
      <div class="card text-white bg-primary">
        <h5 class="card-header">Follow Modern Web Practices</h5>
        <div class="card-body">
          <h5 class="card-title">REST, GraphQL, Kubernetes, Docker</h5>
          <p class="card-text">
            Anything related to the internet, I am always happy to modernize my
            toolset and thinking to move forward on any project.
          </p>
        </div>
      </div>
    </div>
  </div>
