<div class="parallax">
  <caption class="caption">
    <span>Web Developer</span>
    <hr />
    <h1>Juan Daniel Sanchez Chavez</h1>
    <br />
    <p class="subtitle">Things to know about me when you hire me:</p>
    <ul class="list-inline">
      <li>I am a hard worker</li>
      <li>I love to learn, making me a quick learner</li>
      <li>
        I enjoy understanding business and how programming solves business problems
      </li>
    </ul>

    <a href="tel:720-666-3094">
      <button type="button" class="btn btn-primary">Call Now</button>
    </a>
  </caption>
</div>
